<h1>Create Camper:</h1>
<%= form_for @camper do |f| %>

    <% if @camper.errors.any? %>
    <ul>
        <% @camper.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end%>
        </ul>
    <% end%>

    <p>
        <%= f.label "Camper's Name" %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label "Camper's Age" %>
        <%= f.text_field :age %>
    </p>

    <%= f.submit "Create Camper!" %>
<% end%>